body 
{background: #ffffcc;}

h1 {
font: lighter uppercase 84px Lato, sans-serif;
}

h2 {
font: lighter uppercase 52px Lato, sans-serif;
}

h3 {
font: lighter italic 32px Aleo, serif;
}

p {
font: 32px Lato, sans-serif;
}
