body 
{background: #ffffcc;}

h1 {font: 200 uppercase 84px "Lato", sans-serif;
}

h2 {font: 200 uppercase 52px "Lato", sans-serif;
}

h3 {font: 200 italic 32px "Aleo", serif;
}

p {font: 32px "Lato", sans-serif;
}
