body {
  font-family: 'Montserrat', sans-serif;
}

.white {
  color: #ffffff;
}

.smaller {
  font-size: .8em;
}

.cyan {
  background: rgb(122, 188, 255);
  background: -moz-linear-gradient(left, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 25%, rgba(255, 255, 255, 1) 75%);
  background: -webkit-linear-gradient(left, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 25%, rgba(255, 255, 255, 1) 75%);
  background: linear-gradient(to right, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 25%, rgba(255, 255, 255, 1) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#ffffff', GradientType=1);
  text-transform: none;
  color: #000000;
  font-weight: 900;
}

.greyback {
  display: flex-box;
  padding-right: .3em;
  padding-left: .3em;
  background-color: rgba(100, 100, 100, 1);
}

.legal {
  font-size: .62em;
  line-height: 60px;
}

.w500 {
  font-weight: 500;
  line-height: 1.62em;
}

.italic {
  font-style: italic;
}

.shadow {
  line-height: 30px;
  width: 200px;
  height: 60px;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
  border: solid .1em;
  border-color: rgba(100, 100, 100, .5);
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 1);
}

header {
  font-size: 3em;
  font-weight: 300;
  float: left;
  width: calc(100% - 100px);
  height: 60px;
  padding-left: .3em;
  text-transform: uppercase;
  color: rgba(100, 100, 100, 1);
  border-left: .3em solid rgba(100, 100, 100, 1);
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 204, 1) 50%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 204, 1) 50%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 204, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffcc', GradientType=1);
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #ffc;
}

nav {
  font-size: .9em;
  font-weight: 500;
  line-height: 20px;
  float: right;
  width: 60px;
  height: 60px;
  padding-left: .3em;
  border-left: .3em solid #fff;
  background-color: rgba(100, 100, 100, 1);
}

article {
  clear: left;
  padding-top: 1em;
  padding-left: 2em;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(100, 100, 100, 1);
}

h3 {
  font-size: 1em;
  font-weight: 300;
}

p {
  font-size: 1em;
  font-weight: 300;
}

footer {
  font-size: 1em;
  font-weight: 300;
  padding-left: 2em;
}